<footer class="footer">
    <div class="footer-top wrapper">
        <div class="footer-menu">
            <div class="footer-menu__item">
                <h4 class="footer-menu__title">SHOPS</h4>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list-item">New In</li>
                    <li class="footer-menu__list-item">Women</li>
                    <li class="footer-menu__list-item">Men</li>
                    <li class="footer-menu__list-item">Shoes</li>
                    <li class="footer-menu__list-item">Bags &amp; Accessories</li>
                    <li class="footer-menu__list-item">Top Brands</li>
                    <li class="footer-menu__list-item">Sale &amp; Special Offers</li>
                    <li class="footer-menu__list-item">Lookbook</li>
                </ul>
            </div>
            <div class="footer-menu__item">
                <h4 class="footer-menu__title">INFORMATION</h4>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list-item">About us</li>
                    <li class="footer-menu__list-item">Customer Service</li>
                    <li class="footer-menu__list-item">New Collection</li>
                    <li class="footer-menu__list-item">Best Sellers</li>
                    <li class="footer-menu__list-item">Manufacturers</li>
                    <li class="footer-menu__list-item">Privacy policy</li>
                    <li class="footer-menu__list-item">Terms &amp; condition</li>
                    <li class="footer-menu__list-item">Blog</li>
                </ul>
            </div>
            <div class="footer-menu__item">
                <h4 class="footer-menu__title">CUSTOMER SERVICE</h4>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list-item">Search Terms</li>
                    <li class="footer-menu__list-item">Advanced Search</li>
                    <li class="footer-menu__list-item">Orders and Returns</li>
                    <li class="footer-menu__list-item">Contact Us</li>
                    <li class="footer-menu__list-item">RSS</li>
                    <li class="footer-menu__list-item">Help &amp; FAQs</li>
                    <li class="footer-menu__list-item">Consultant</li>
                    <li class="footer-menu__list-item">Store Locations</li>
                </ul>
            </div>
        </div>
        <div class="footer-connections">
            <h4 class="footer-connections__title">STAY CONNECTED</h4>
            <div class="footer-socials">
                <div class="footer-socials__item"><i class="fab fa-lg fa-facebook-f"></i></div>
                <div class="footer-socials__item"><i class="fab fa-lg fa-twitter"></i></div>
                <div class="footer-socials__item"><i class="fab fa-lg fa-pinterest"></i></div>
                <div class="footer-socials__item"><i class="fab fa-lg fa-instagram"></i></div>
                <div class="footer-socials__item"><i class="fas fa-lg fa-rss"></i></div>
            </div>
            <h4 class="footer-connections__title">SUBSCRIBE <i>in</i>&nbsp; OUR NEWS LETTER</h4>
            <form class="footer-subscribe">
                <div class="footer-subscribe__field"></div>
                <button class="footer-subscribe__button">SUBSCRIBE</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom wrapper">
        <div class="footer-copyright">
            © 2015  Shopia  Fashion Store Shopify.<br>
            All Rights Reserved. Ecommerce Software by Shopify.<br>
            Designed by MoccaLabs.com
        </div>
        <div class="footer-cards">
            <div class="footer-cards__item"><i class="fab fa-cc-visa"></i></div>
            <div class="footer-cards__item"><i class="fab fa-cc-mastercard"></i></div>
            <div class="footer-cards__item"><i class="fab fa-cc-amex"></i></div>
            <div class="footer-cards__item"><i class="fab fa-cc-discover"></i></div>
        </div>
    </div>
    <div class="subfooter wrapper"></div>
</footer>

</body>
</html>