<footer class="footer">
    <div class="footer-top wrapper">
        <div class="footer-menu">
            <div class="footer-menu__item">
                <h3 class="footer-menu__title">SHOPS</h3>
                <ul class="footer-menu__list">

                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">New In</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Women</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Men</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Shoes</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Bags &amp; Accessories</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Top Brands</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Sale &amp; Special Offers</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Lookbook</a>
                    </li>
                </ul>
            </div>

            <div class="footer-menu__item">
                <h3 class="footer-menu__title">INFORMATION</h3>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">About us</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Customer Service</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">New Collection</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Best Sellers</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Manufacturers</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Privacy policy</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Terms &amp; condition</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="footer-menu__item">
                <h3 class="footer-menu__title">CUSTOMER SERVICE</h3>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Search Terms</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Advanced Search</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Orders and Returns</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Contact Us</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">RSS</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Help &amp; FAQs</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Consultant</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Store Locations</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--
        <div class="footer-menu">
            <div class="footer-menu__item">
                <input id="check01" type="checkbox" name="menu" class="footer-menu__input">
                <label for="check01" class="footer-menu__title">SHOPS</label>
                <ul class="footer-menu__list">

                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">New In</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Women</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Men</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Shoes</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Bags &amp; Accessories</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Top Brands</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Sale &amp; Special Offers</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Lookbook</a>
                    </li>
                </ul>
            </div>

            <div class="footer-menu__item">
                <input id="check02" type="checkbox" name="menu" class="footer-menu__input">
                <label for="check02" class="footer-menu__title">INFORMATION</label>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">About us</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Customer Service</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">New Collection</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Best Sellers</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Manufacturers</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Privacy policy</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Terms &amp; condition</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="footer-menu__item">
                <input id="check03" type="checkbox" name="menu" class="footer-menu__input">
                <label for="check03" class="footer-menu__title">CUSTOMER SERVICE</label>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Search Terms</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Advanced Search</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Orders and Returns</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Contact Us</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">RSS</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Help &amp; FAQs</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Consultant</a>
                    </li>
                    <li class="footer-menu__list-item">
                        <a href="#" class="footer-menu__link">Store Locations</a>
                    </li>
                </ul>
            </div>
        </div>
        -->

        <div class="footer-connections">
            <h4 class="footer-connections__title">STAY CONNECTED</h4>
            <div class="footer-socials">
                <div class="footer-socials__item"><i class="fab fa-lg fa-facebook-f"></i></div>
                <div class="footer-socials__item"><i class="fab fa-lg fa-twitter"></i></div>
                <div class="footer-socials__item"><i class="fab fa-lg fa-instagram"></i></div>
                <div class="footer-socials__item"><i class="fab fa-lg fa-pinterest"></i></div>
                <div class="footer-socials__item"><i class="fas fa-lg fa-rss"></i></div>
            </div>
            <h4 class="footer-connections__title">SUBSCRIBE <i>in</i>&nbsp; OUR NEWS LETTER</h4>
            <form class="footer-subscribe" method="get">
                <input type="email" class="footer-subscribe__input" placeholder="Enter Your Email Address">
                <button type="submit" class="footer-subscribe__button">SUBSCRIBE</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom wrapper">
        <div class="footer-bottom__triangle"><i class="fas fa-caret-down fa-3x"></i></div>
        <small class="footer-copyright">
            © 2015  Shopia  Fashion Store Shopify.<br>
            All Rights Reserved. Ecommerce Software by Shopify.<br>
            Designed by <a href="#" class="footer-copyright__link">MoccaLabs.com</a>
        </small>
        <div class="footer-cards">
            <div class="footer-cards__item"><i class="fab fa-cc-visa"></i></div>
            <div class="footer-cards__item"><i class="fab fa-cc-mastercard"></i></div>
            <div class="footer-cards__item"><i class="fab fa-cc-amex"></i></div>
            <div class="footer-cards__item"><i class="fab fa-cc-discover"></i></div>
        </div>
    </div>
    <div class="subfooter wrapper"></div>
</footer>

</body>
</html>