<header class="header">
    <div class="header-top wrapper">
        <address class="phone">
            <a href="tel:001555801" class="phone__number">Call +001 555 801</a>
        </address>
        <nav class="header-top-menu">
            <ul class="header-top-menu__list">
                <li class="header-top-menu__item">
                    <a href="#" class="header-top-menu__link">WELCOME MSG!</a>
                </li>
                <li class="header-top-menu__item">
                    <a href="#" class="header-top-menu__link">MY ACCOUNT</a>
                </li>
                <li class="header-top-menu__item">
                    <a href="#" class="header-top-menu__link">MY WISHLIST</a>
                </li>
                <li class="header-top-menu__item">
                    <a href="#" class="header-top-menu__link">LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-bottom wrapper">
        <h1 class="header-h1">Shophia</h1>
        <nav class="header-bottom-menu">
            <ul class="header-bottom-menu__list">
                <li class="header-bottom-menu__item">
                    <a href="#" class="header-bottom-menu__link">Home</a>
                </li>
                <li class="header-bottom-menu__item">
                    <a href="#" class="header-bottom-menu__link">Gallery</a>
                </li>
                <li class="header-bottom-menu__item">
                    <a href="#" class="header-bottom-menu__link">Categories</a>
                </li>
                <li class="header-bottom-menu__item">
                    <a href="#" class="header-bottom-menu__link">Pages</a>
                </li>
            </ul>
        </nav>
        <div class="header-bottom__right">
            <div class="header-socials">
                <div class="header-socials__item"><i class="fab fa-xs fa-facebook-f"></i></div>
                <div class="header-socials__item"><i class="fab fa-xs fa-twitter"></i></div>
                <div class="header-socials__item"><i class="fab fa-xs fa-pinterest"></i></div>
                <div class="header-socials__item"><i class="fab fa-xs fa-instagram"></i></div>
            </div>
            <div class="header-dropdown">
                <div class="header-dropdown__item">RUPIAH</div>
                <div class="header-dropdown__arrow"><i class="fas fa-angle-down"></i></div>
            </div>
        </div>
    </div>
</header>
