@charset "UTF-8";
@import "modules/vars.css";
@import "modules/fonts.css";
@import "modules/base.css";


.wrapper {
    max-width: 1290px;
    margin: 0 auto;
}

figure {
    margin: 0;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header-bg);
    height: 40px;

    .phone__number {
        font-family: Lato, sans-serif;
        font-size: 10px;
        font-style: normal;
        color: var(--color-topmenu-text);
        vertical-align: center;

        &::before {
            content: url(../img/svg/phone.svg);
            margin-right: 19px;
        }
    }

    .header-top-menu__item {
        display: inline-block;
        padding: 0 0 0 31px;
        height: 11px;
        font-family: Lato, sans-serif;
        font-size: 11px;
        color: var(--color-topmenu-text);

        &:not(:last-child) {
             padding-right: 31px;
             border-right: 1px solid #393939;
        }
    }
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;

    .header-h1 {
        position: absolute;
        left: calc(50% - 204px / 2);
        top: 12px;
        font-family: KrinkesDecorPERSONALUSE, serif;
        font-size: 72px;
        text-align: center;
        color: black;
    }

    .header-bottom-menu__list {
        display: flex;
        justify-content: space-between;
        width: 297px;
        padding-bottom: 10px;
    }

    .header-bottom-menu__item {
        display: inline-block;
        font-family: PlayfairDisplay, serif;
        font-size: 18px;
        font-style: italic;
        text-align: center;
        line-height: 35px;
        color: black;
    }

    .header-bottom__right {
        display: flex;
        justify-content: space-between;
        width: 315px;

        .header-socials {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 173px;

            .header-socials__item {
                /*margin: 0 8px;*/
                border: 1px solid var(--color-primary);
                border-radius: 50%;
                color: var(--color-primary);
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
        .header-bottom__dropdown-menu {
            width: 90px;
            height: 35px;
            background-color: black;
            font-family: Lato, sans-serif;
            font-size: 12px;
            font-weight: bold;
            line-height: 35px;
            text-align: center;
            color: white;
        }
    }
}

.sale {
    position: relative;
    height: 692px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #7e7974 url("../img/bg_image.jpg") no-repeat;
    background-size: 100%;

    .sale-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 273px;
        height: 273px;
        border: 2px solid white;
        border-radius: 3px;

        .sale-text__outline {
            width: 96%;
            height: 96%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid white;
            border-radius: 2px;
            font-family: Lato, sans-serif;
            color: white;

            .sale-text__name {
                font-size: 20px;
                font-weight: bold;
            }
            .sale-text__main {
                font-size: 59px;
                font-weight: bold;
                color: black;
            }
            .sale-text__upto {
                font-size: 20px;
                font-weight: bold;

                &::before {
                    content: url(../img/svg/upto-left.svg);
                    margin-right: 12px;
                }
                &::after {
                    content: url(../img/svg/upto-right.svg);
                    margin-left: 12px;
                }
            }
            .sale-text__percentage {
                font-size: 32px;
                font-weight: bold;
                color: black;
            }
        }
    }

    .sale-checkout__button {
        margin-top: 57px;
        border: none;
        background-color: var(--color-button);
        color: white;
        width: 189px;
        height: 53px;
        font-family: Lato, sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
}

.advantages {
    display: flex;
    justify-content: space-between;

    .advantages-item {
        margin-top: 66px;
        font-size: 43px;
        color: white;
        position: relative;
        width: 30%;
        height: 100px;
        background-color: var(--color-primary);
        display: flex;
        justify-content: flex-start;

        &:nth-child(1)::after {
            position: absolute;
            content: url(../img/svg/arrow-right.svg);
            right: -43px;
        }
        &:nth-child(2) {
            background-color: black;

            &::before {
                position: absolute;
                content: url(../img/svg/arrow-tail-left.svg);
                left: -45px;
            }
            &::after {
                position: absolute;
                content: url(../img/svg/arrow-tail-right.svg);
                right: -44px;
            }
        }
        &:nth-child(3)::before {
                position: absolute;
            content: url(../img/svg/arrow-left.svg);
            left: -44px;
        }

         .advantages-item__image {
             display: flex;
             justify-content: center;
             align-items: center;
             margin: 0 30px;
        }

        .advantages-item__text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: Lato, sans-serif;
            color: white;

            .advantages-item__title {
                font-size: 30px;
                font-weight: bold;
                line-height: 0.6;
            }
            .advantages-item__subtitle {
                font-size: 14px;
                line-height: 1.29;
            }
        }
    }
}

.section-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 65px 0;

    .section-headline__line {
        height: 1px;
        background-color: var(--color-secondary);
        width: 30%;

        @media (max-width: 1100px){
            width: 20%;
        }
        @media (max-width: 700px){
            display: none;
        }
    }

    .section-headline__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        flex-grow: 1;

        @media (max-width: 1100px){
            width: 60%;
        }
        @media (max-width: 700px){
            width: 100%;
        }

        .section-headline__text {
            font-family: PlayfairDisplay, serif;
            font-size: 30px;
            font-weight: bold;
            font-style: italic;
            margin: 0 auto;
            text-align: center;

            @media (max-width: 450px) {
                font-size: 24px;
                line-height: 20px;
            }

            &::before {
                content: url(../img/svg/rhomb-big.svg);
                margin-right: 50px;

                @media (max-width: 450px) {
                    margin-right: 10px;
                }
            }
            &::after {
                content: url(../img/svg/rhomb-big.svg);
                margin-left: 50px;

                @media (max-width: 450px) {
                    margin-left: 10px;
                }
            }
        }
    }
}

.handpicked {
    display: flex;
    flex-direction: column;

    .handpicked-images {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media (max-width: 700px) {
            flex-direction: column;
            align-items: center;
        }

        .handpicked-images__side {
            width: 31%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .handpicked-images__item {
            position: relative;
            .handpicked-images__middle-outline,
            .handpicked-images__outline{
                border: 3px solid white;
                border-radius: 3px;
                position: absolute;
                top: 5%;
                left: 5%;
                width: 90%;
                height: 90%;
            }
            .handpicked-images__middle-outline {
                top: 2.6%;
                height: 94.8%;
            }
            .handpicked-hover__darker {
                visibility: hidden;
                position: absolute;
                top: 5%;
                left: 5%;
                width: 90%;
                height: 90%;
                background-color: rgba(0, 0, 0, 0.5);
            }
            .handpicked-hover__vertical-cross {
                visibility: hidden;
                position: absolute;
                top: 40%;
                left: 50%;
                width: 3px;
                height: 20%;
                background-color: var(--color-primary);
            }
            .handpicked-hover__horizontal-cross {
                visibility: hidden;
                position: absolute;
                top: 50%;
                left: 40%;
                width: 20%;
                height: 3px;
                background-color: var(--color-primary);
            }
            .handpicked-hover__button {
                visibility: hidden;
                position: absolute;
                border: none;
                background-color: var(--color-button);
                color: white;
                width: 109px;
                height: 42px;
                font-family: Lato, sans-serif;
                font-size: 14px;
                font-weight: bold;
                left: calc((100% - 109px)/2);
                bottom: 12%;
            }

            &:hover {
                outline: none;
            }
            &:hover .handpicked-images__outline {
                visibility: hidden;
            }
            &:hover .handpicked-hover__darker {
                visibility: visible;
            }
            &:hover .handpicked-hover__vertical-cross {
                visibility: visible;
            }
            &:hover .handpicked-hover__horizontal-cross {
                visibility: visible;
            }
            &:hover .handpicked-hover__button{
                visibility: visible;
            }
        }
        .handpicked-images__middle {
            width: 36%;
            position: relative;

            & .handpicked-images__item:hover {
                  outline: 3px solid white;
            }

            @media (max-width: 900px) {
                order: -1;
            }
        }
    }
}

.summer {
    display: flex;
    flex-direction: column;

    .summer-images {
        padding: 20px 20px 0;
        display: flex;
        justify-content: space-between;
        align-content: space-evenly;
        flex-wrap: wrap;
        border: 1px solid var(--color-secondary);

        .summer-images__item {
            width: 23%;
            position: relative;
            margin-bottom: 20px;

            @media (max-width: 1350px) {
                width: 30%;
            }

            @media (max-width: 1101px) {
                width: 48%;
            }

            @media (max-width: 701px) {
                width: 100%;
            }


            .summer-images__label {
                position: absolute;
                width: 60px;
                height: 60px;
                background-color: var(--color-accent);
                border-radius: 50%;
                top: 18px;
                left: 18px;
                font-family: Lato, sans-serif;
                font-size: 22px;
                font-weight: bold;
                color: white;
                text-align: center;
                line-height: 50px;

                & sup {
                    font-size: 11px;
                }
            }
            .product-checkout__button {
                width: 72%;
                height: 0;
                border: none;
                border-bottom: 45px solid black;
                border-left: 45px solid transparent;
                border-right: 45px solid transparent;
                background-color: transparent;
                position: absolute;
                bottom: 5px;
                left: calc((100% - 72%)/2);
                font-family: Lato, sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: white;
                text-align: center;
                line-height: 45px;
            }
            .product-checkout__button:hover {
                border-bottom: 45px solid var(--color-button);
            }
            &:hover .summer-images__image {
                filter: brightness(50%);
            }
        }
    }
}

.brands {
    display: flex;
    flex-direction: column;

    .brands-images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 490px) {
            flex-direction: column;
            /*width: 25%;*/
        }

        .brands-images__item {
            margin: 10px 20px;

            @media (max-width: 1100px) {
                margin: 10px 80px;
                /*width: 25%;*/
            }
            @media (max-width: 950px) {
                margin: 10px 50px;
                /*width: 25%;*/
            }
            @media (max-width: 750px) {
                margin: 10px 30px;
                /*width: 25%;*/
            }
            @media (max-width: 650px) {
                margin: 10px 40px;
                /*width: 25%;*/
            }
        }
    }
}

.customers-section {
    display: flex;
    flex-direction: column;

    .customers {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: var(--color-primary);

        .customer {
            display: flex;
            justify-content: space-between;
            width: 530px;
            height: 400px;

            .customer__photo {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 254px;
            }

            .customer-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                &:nth-child(1) {
                    align-items: flex-end;
                    color: red;

                    .customer-text__speech {
                        text-align: right;
                    }
                }

                .customer-text__speech {
                    font-family: PlayfairDisplay, serif;
                    font-size: 18px;
                    font-style: italic;
                    line-height: 1.67;
                    color: white;
                    margin-bottom: 62px;
                }
                .customer-text__name {
                    font-family: PlayfairDisplay, serif;
                    font-size: 30px;
                    font-weight: bold;
                    font-style: italic;
                    line-height: 0.6;
                    color: black;
                    margin-bottom: 17px;
                }
                .customer-text__profession {
                    font-family: Lato, sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 2.14;
                    color: #7f7e7e;
                    margin-bottom: 47px;
                }
            }
        }
    }
}

.footer-top {
    padding-top: 70px;
    position: relative;
    background-color: var(--color-footer-bg);
    min-height: 447px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .footer-menu {
        display: flex;
        justify-content: space-between;
        width: 646px;

        .footer-menu__title {
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 0.7;
            color: white;
            margin: 0 0 44px;
        }
        .footer-menu__list {
            font-family: Lato, sans-serif;
            font-size: 14px;
            line-height: 2.15;
            color: var(--color-footer-grey);

            .footer-menu__list-item {

            }
        }

    }
    .footer-connections {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 272px;
        width: 360px;
        margin: 0 auto;

        .footer-connections__title {
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: white;
            margin: 0;
        }
        .footer-socials {
            display: flex;
            justify-content: space-between;
            width: 316px;

            .footer-socials__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: white;
                color: black;
                cursor: pointer;
            }
        }
        .footer-subscribe {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            border: thin solid #484848;

            .footer-subscribe__input {
                background-color: #141414;
                flex-grow: 1;
                border: none;
                font-family: Lato, sans-serif;
                font-size: 12px;
                color: #6a6a6a;
                padding-left: 22px;
            }
            .footer-subscribe__button {
                width: 101px;
                height: 33px;
                border: none;
                background-color: #323030;
                margin: 3px;
                font-family: Lato, sans-serif;
                font-size: 12px;
                text-align: center;
                color: white;
            }
        }
    }
}

.footer-bottom {
    position: relative;
    background-color: var(--color-footer-bg);
    min-height: 206px;

    .footer-bottom__triangle {
        position: absolute;
        color: var(--color-footer-darkgrey);
        font-size: 11px;
        left: calc(50% - 10px);
        top: -12px;
    }

    .footer-copyright {
        border-top: 1px solid var(--color-footer-darkgrey);
        padding: 27px 0;
        font-family: Lato,sans-serif;
        font-size: 11px;
        line-height: 1.64;
        color: var(--color-footer-darkgrey);
    }
    .footer-cards {
        display: flex;
        justify-content: space-between;
        width: 170px;
        font-size: 20px;
        color: var(--color-footer-darkgrey);

        .footer-cards__item {
            position: relative;
            width: 22px;
            height: 16px;
            border-width: 0;
            border-radius: 3px;
            background-color: #bbbbbb;

            &>svg {
                position: absolute;
                top: -2px;
            }
        }
    }
}

.subfooter {
    position: relative;
    background-color: black;
    height: 44px;
}

.sale::after,
.header-top::after,
.sale::after,
.customers::after,
.footer-top::after,
.footer-bottom::after,
.subfooter::after {
    content: "";
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
