@charset "UTF-8";
@import "modules/vars.css";
@import "modules/fonts.css";
@import "modules/base.css";


.wrapper {
    max-width: 1290px;
    margin: 0 auto;
}

figure {
    margin: 0;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header-bg);
    height: 40px;

    .phone__number {
        font-family: Lato, sans-serif;
        font-size: 10px;
        font-style: normal;
        color: var(--color-topmenu-text);
        vertical-align: center;

        &::before {
            content: url(../img/svg/phone.svg);
            margin-right: 19px;
        }
        &:hover {
            text-shadow: 1px 1px 1px black;
        }
    }

    .header-top-menu__item {
        display: inline-block;
        padding: 0 0 0 31px;
        height: 11px;
        font-family: Lato, sans-serif;
        font-size: 11px;
        color: var(--color-topmenu-text);

        &:hover {
            font-weight: bold;
        }
        &:not(:last-child) {
             padding-right: 31px;
             border-right: 1px solid #393939;
        }
    }
}

@media (max-width: 700px) {
    .header-top {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--color-header-bg);
        height: 80px;

        .header-top-menu__list {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;

            .header-top-menu__item {
                padding: 0 10px;
                margin-bottom: 5px;
            }
        }
    }
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;

    .header-h1 {
        position: absolute;
        left: calc(50% - 204px / 2);
        top: 12px;
        font-family: KrinkesDecorPERSONALUSE, serif;
        font-size: 72px;
        text-align: center;
        color: black;
    }
    .header-bottom-menu__list {
        display: flex;
        justify-content: space-between;
        width: 297px;
        padding-bottom: 10px;
    }
    .header-bottom-menu__item {
        display: inline-block;
        font-family: PlayfairDisplay, serif;
        font-size: 18px;
        font-style: italic;
        text-align: center;
        line-height: 35px;
        color: black;

        &:hover {
            font-weight: bold;
        }
    }
    .header-bottom__right {
        display: flex;
        justify-content: space-between;
        width: 315px;

        .header-socials {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 173px;

            .header-socials__item {
                border: 1px solid var(--color-primary);
                border-radius: 50%;
                color: var(--color-primary);
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    box-shadow:  0 0 10px lawngreen;
                }
                &:active {
                     box-shadow:  0 0 10px deeppink;
                 }

            }
        }
        .header-dropdown {
            display: flex;
            width: 90px;
            height: 35px;
            background-color: black;
            font-family: Lato, sans-serif;
            font-size: 12px;
            font-weight: bold;
            line-height: 35px;
            text-align: center;
            color: white;

            &:hover {
                cursor: pointer;
                color: lawngreen;
            }

            .header-dropdown__item {
                width: 75%;
            }
            .header-dropdown__arrow {
                width: 25%;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1000px) {
    .header-bottom {
        flex-direction: column;
        justify-content: center;
        height: 240px;

        .header-h1 {
            position: unset;
            margin: 0;
            font-size: 58px;
            line-height: 1;
        }
        .header-bottom-menu__list {
            padding: 0;
        }
        .header-bottom__right {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100px;
        }
    }
}

.carousel {
    background-color: #7e7974;
}

.sale {
    position: relative;
    background-color: #7e7974;

    .sale__image {

    }

    .sale-text {
        width: 22%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 21.5%;
        left: calc(50% - 21% / 2);

        .sale-text__border {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70%;
            border: 2px solid white;
            border-radius: 3px;

            .sale-text__outline {
                width: 96%;
                height: 96%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border: 1px solid white;
                border-radius: 2px;
                font-family: Lato, sans-serif;
                color: white;

                .sale-text__name {
                    /*font-size: 20px;*/
                    font-size: 1.2vw;
                    font-weight: bold;
                }
                .sale-text__main {
                    /*font-size: 59px;*/
                    margin: 0;
                    padding: 0;
                    line-height: normal;
                    font-size: 3.6vw;
                    font-weight: bold;
                    color: black;
                }
                .sale-text__upto {
                    /*font-size: 20px;*/
                    font-size: 1.2vw;
                    font-weight: bold;

                    &::before {
                        content: url(../img/svg/upto-left.svg);
                        margin-right: 12px;
                    }
                    &::after {
                        content: url(../img/svg/upto-right.svg);
                        margin-left: 12px;
                    }
                }
                .sale-text__percentage {
                    /*font-size: 32px;*/
                    font-size: 2vw;
                    font-weight: bold;
                    color: black;
                }
            }
        }
        .sale-checkout__button {
            /*margin-top: 57px;*/
            border: none;
            background-color: var(--color-button);
            color: white;
            width: 189px;
            height: 53px;
            font-family: Lato, sans-serif;
            /*font-size: 24px;*/
            font-size: 24px;
            font-weight: bold;

            &:hover {
                cursor: pointer;
                color: black;
            }
            &:active {
                color: deeppink;
            }

        }
    }
}

@media (max-width: 900px) {

    .sale {

        .sale-text {
            width: 22%;
            height: 55%;
            top: 21.5%;
            left: calc(50% - 21% / 2);

            .sale-text__border {
                width: 100%;
                height: 70%;

                .sale-text__outline {

                    .sale-text__name {
                        font-size: 2vw;
                    }
                    .sale-text__main {
                        font-size: 6vw;
                    }
                    .sale-text__upto {
                        font-size: 2vw;

                        &::before {
                            display: none;
                        }
                        &::after {
                             display: none;
                        }
                    }
                    .sale-text__percentage {
                        font-size: 3vw;
                    }
                }
            }
            .sale-checkout__button {
                width: 21vw;
                height: 6vw;
                font-size: 3vw;
            }
        }
    }
}

.advantages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;
    margin-top: 66px;

    .advantages-item {
        border: none;
        font-size: 43px;
        color: white;
        position: relative;
        width: 30%;
        height: 100px;
        background-color: var(--color-primary);
        display: flex;
        justify-content: flex-start;

        &:nth-child(1)::after {
            position: absolute;
            content: url(../img/svg/arrow-right.svg);
            right: -43px;
        }
        &:nth-child(2) {
            background-color: black;

            &::before {
                position: absolute;
                content: url(../img/svg/arrow-tail-left.svg);
                left: -44px;
            }
            &::after {
                position: absolute;
                content: url(../img/svg/arrow-tail-right.svg);
                right: -44px;
            }
        }
        &:nth-child(3)::before {
            position: absolute;
            content: url(../img/svg/arrow-left.svg);
            left: -44px;
        }
        .advantages-item__image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 30px;
        }
        .advantages-item__text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: Lato, sans-serif;
            color: white;

            .advantages-item__title {
                font-size: 30px;
                font-weight: bold;
                line-height: 0.8;
            }
            .advantages-item__subtitle {
                font-size: 14px;
                line-height: 1.29;
            }
        }
    }
}

@media (max-width: 900px) {
    .advantages {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        .advantages-item {
            justify-content: space-evenly;
            padding: 0 30px;
            width: 70%;
            margin: 10px auto;

            &::before,
            &::after {
                 display: none;
             }
        }
    }
}
@media (max-width: 600px) {
    .advantages {
        .advantages-item {
            width: 100%;
            margin: 0 auto;
        }
    }
}

.section-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .section-headline__line {
        height: 1px;
        background-color: var(--color-secondary);
        width: 30%;
    }
    .section-headline__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        flex-grow: 1;

        .section-headline__text {
            font-family: PlayfairDisplay, serif;
            font-size: 30px;
            font-weight: bold;
            font-style: italic;
            margin: 0 auto;
            text-align: center;

            &::before {
                content: url(../img/svg/rhomb-big.svg);
                margin-right: 50px;
            }
            &::after {
                content: url(../img/svg/rhomb-big.svg);
                margin-left: 50px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .section-headline {
        .section-headline__line {
            width: 20%;
        }
        .section-headline__title {
            width: 60%;
        }
    }
}
@media (max-width: 700px) {
    .section-headline {
        .section-headline__line {
            display: none;
        }
        .section-headline__title {
            width: 100%;
        }
    }
}
@media (max-width: 450px) {
    .section-headline {
        .section-headline__title {
            .section-headline__text {
                font-size: 24px;
                line-height: 20px;

                &::before {
                    margin-right: 10px;
                }
                &::after {
                    margin-left: 10px;
                }
            }
        }
    }
}

.handpicked {
    display: flex;
    flex-direction: column;
    margin-bottom: 87px;

    .handpicked-images {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 63px;

        .handpicked-images__side {
            width: 31%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .handpicked-images__item {
            position: relative;
            .handpicked-images__middle-outline,
            .handpicked-images__outline{
                border: 3px solid white;
                border-radius: 3px;
                position: absolute;
                top: 5%;
                left: 5%;
                width: 90%;
                height: 90%;
            }
            .handpicked-images__middle-outline {
                top: 2.6%;
                height: 94.8%;
            }
            .handpicked-hover__darker {
                visibility: hidden;
                position: absolute;
                top: 5%;
                left: 5%;
                width: 90%;
                height: 90%;
                background-color: rgba(0, 0, 0, 0.5);
            }
            .handpicked-hover__vertical-cross {
                visibility: hidden;
                position: absolute;
                top: 40%;
                left: 50%;
                width: 3px;
                height: 20%;
                background-color: var(--color-primary);
            }
            .handpicked-hover__horizontal-cross {
                visibility: hidden;
                position: absolute;
                top: 50%;
                left: 40%;
                width: 20%;
                height: 3px;
                background-color: var(--color-primary);
            }
            .handpicked-hover__button {
                visibility: hidden;
                position: absolute;
                border: none;
                background-color: var(--color-button);
                color: white;
                width: 109px;
                height: 42px;
                font-family: Lato, sans-serif;
                font-size: 14px;
                font-weight: bold;
                left: calc((100% - 109px)/2);
                bottom: 12%;

                &:hover {
                    cursor: pointer;
                    color: black;
                }
                &:active {
                    color: deeppink;
                }
            }

            &:hover {
                outline: none;
            }
            &:hover .handpicked-images__outline {
                visibility: hidden;
            }
            &:hover .handpicked-hover__darker {
                visibility: visible;
            }
            &:hover .handpicked-hover__vertical-cross {
                visibility: visible;
            }
            &:hover .handpicked-hover__horizontal-cross {
                visibility: visible;
            }
            &:hover .handpicked-hover__button{
                visibility: visible;
            }
        }
        .handpicked-images__middle {
            width: 36%;
            position: relative;

            & .handpicked-images__item:hover {
                  outline: 3px solid white;
            }
        }
    }
}

@media (max-width: 400px) {
    .handpicked {
        .handpicked-images {
            .handpicked-images__side,
            .handpicked-images__middle {
                width: 100%;
            }
        }
    }
}
@media (max-width: 900px) {
    .handpicked {
        .handpicked-images {
            flex-direction: column;
            align-items: center;
            width: 100%;

            .handpicked-images__side,
            .handpicked-images__middle {
                width: 70%;
            }
            .handpicked-images__middle {
                order: -1;
            }
        }
    }
}

.summer {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-bottom: 103px;

    .summer-images {
        padding: 20px 20px 0;
        display: flex;
        justify-content: space-between;
        align-content: space-evenly;
        flex-wrap: wrap;
        border: 1px solid var(--color-secondary);
        margin: 55px auto 0;

        .summer-images__item {
            width: 23%;
            position: relative;
            margin-bottom: 20px;

            &:hover .summer-images__image {
                filter: brightness(50%);
            }

            .summer-images__label {
                position: absolute;
                width: 60px;
                height: 60px;
                background-color: var(--color-accent);
                border-radius: 50%;
                top: 18px;
                left: 18px;
                font-family: Lato, sans-serif;
                font-size: 22px;
                font-weight: bold;
                color: white;
                text-align: center;
                line-height: 50px;

                & sup {
                    font-size: 11px;
                }
            }
            .product-checkout__button {
                width: 72%;
                height: 0;
                border: none;
                border-bottom: 45px solid black;
                border-left: 45px solid transparent;
                border-right: 45px solid transparent;
                background-color: transparent;
                position: absolute;
                bottom: 5px;
                left: calc((100% - 72%)/2);
                font-family: Lato, sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: white;
                text-align: center;
                line-height: 45px;

                &:hover {
                    border-bottom: 45px solid var(--color-button);
                    cursor: pointer;
                    color: black;
                }
                 &:active {
                    color: deeppink;
                }
            }
        }
    }
}

@media (max-width: 1293px) {
    .summer {
        .summer-images {
            .summer-images__item {
                .product-checkout__button {
                    font-size: 1.3vw;
                    line-height: 22px;
                }
            }
        }
    }
}

@media (max-width: 1050px) {
    .summer {
        .summer-images {
            .summer-images__item {
                width: 30%;

                .product-checkout__button {
                    font-size: 1.5vw;
                }
            }
        }
    }
}
@media (max-width: 800px) {
    .summer {
        .summer-images {
            width: 95%;
            justify-content: space-evenly;

            .summer-images__item {
                width: 45%;

                .product-checkout__button {
                    font-size: 2.5vw;
                }
            }
        }
    }
}
@media (max-width: 601px) {
    .summer {
        .summer-images {
            width: 95%;
            justify-content: space-evenly;

            .summer-images__item {
                width: 80%;

                .product-checkout__button {
                    font-size: 3.5vw;
                }
            }
        }
    }
}



.brands {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;

    .brands-images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 110px;

        @media (max-width: 490px) {
            flex-direction: column;
        }

        .brands-images__item {
            margin: 10px 20px;

            @media (max-width: 1100px) {
                margin: 10px 80px;
            }
            @media (max-width: 950px) {
                margin: 10px 50px;
            }
            @media (max-width: 750px) {
                margin: 10px 30px;
            }
            @media (max-width: 650px) {
                margin: 10px 40px;
            }
        }
    }
}

.customers-section {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
        content: url(../img/svg/triangle.svg);
        position: absolute;
        left: calc(50% - 185px);
        top: 94px;
        z-index: 1;
    }

    .customers {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: var(--color-primary);
        margin-top: 60px;
        min-height: 400px;

        .customer {
            display: flex;
            justify-content: space-between;
            width: 530px;
            min-height: 390px;

            .customer__photo {
                display: flex;
                align-items: center;
            }

            .customer-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                &:nth-child(1) {
                    align-items: flex-end;
                    color: red;

                    .customer-text__speech {
                        text-align: right;
                    }
                }

                .customer-text__speech {
                    font-family: PlayfairDisplay, serif;
                    font-size: 18px;
                    font-style: italic;
                    line-height: 1.67;
                    color: white;
                    margin-bottom: 62px;
                }
                .customer-text__name {
                    font-family: PlayfairDisplay, serif;
                    font-size: 30px;
                    font-weight: bold;
                    font-style: italic;
                    line-height: 0.6;
                    color: black;
                    margin-bottom: 17px;
                }
                .customer-text__profession {
                    font-family: Lato, sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 2.14;
                    color: #7f7e7e;
                    margin-bottom: 47px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .customers-section {
        .customers {
            flex-direction: column;
            align-items: center;
        }
    }
}
@media (max-width: 570px) {
    .customers-section {

        &::before {
            display: none;
        }
        .customers {
            .customer {
                flex-direction: column;
                width: 100%;

                &:nth-child(n) {

                    .customer-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;

                        .customer-text__speech {
                            text-align: center;
                            margin-bottom: 22px;
                        }
                        .customer-text__name {
                            margin-bottom: 12px;
                            order: -2;
                        }
                        .customer-text__profession {
                            margin-bottom: 6px;
                            order: -1;
                        }
                    }
                }
                .customer__photo {
                    order: -1;
                    margin: 15px auto;
                }
            }
        }
    }
}

.footer-top {
    padding-top: 70px;
    position: relative;
    background-color: var(--color-footer-bg);
    min-height: 447px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .footer-menu {
        display: flex;
        justify-content: space-between;
        width: 646px;

        .footer-menu__title {
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 0.7;
            color: white;
            margin: 0 0 44px;
        }
        .footer-menu__list {
            font-family: Lato, sans-serif;
            font-size: 14px;
            line-height: 2.15;
            color: var(--color-footer-grey);

            .footer-menu__list-item {

                &:hover {
                    color: #55ACEE;
                }
            }
        }
    }
    .footer-connections {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 272px;
        width: 360px;
        margin: 0 auto;

        .footer-connections__title {
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: white;
            margin: 0;
        }
        .footer-socials {
            display: flex;
            justify-content: space-between;
            width: 316px;

            .footer-socials__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: white;
                color: black;

                &:hover {
                    color: #55ACEE;
                    cursor: pointer;
                }
            }
        }
        .footer-subscribe {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            border: thin solid #484848;

            .footer-subscribe__input {
                background-color: #141414;
                flex-grow: 1;
                border: none;
                font-family: Lato, sans-serif;
                font-size: 12px;
                color: #6a6a6a;
                padding-left: 22px;
            }
            .footer-subscribe__button {
                width: 101px;
                height: 33px;
                border: none;
                background-color: #323030;
                margin: 3px;
                font-family: Lato, sans-serif;
                font-size: 12px;
                text-align: center;
                color: white;

                &:hover {
                    color: #55ACEE;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .footer-top {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        height: 700px;

        .footer-menu {
            justify-content: space-evenly;
            width: 100%;

            .footer-menu__title {
                /*text-align: center;*/
            }
            .footer-menu__list {
                /*text-align: center;*/

                .footer-menu__list-item {

                }
            }
        }
        .footer-connections {
            width: 100%;
            align-items: center;
        }
    }
}
@media (max-width: 550px) {
    .footer-top {
        height: 1280px;

        .footer-menu {
            flex-direction: column;
            align-items: center;

            .footer-menu__title {
                text-align: center;
                margin: 30px auto 10px;
            }
            .footer-menu__list {
                text-align: center;

                .footer-menu__list-item {

                }
            }
        }
    }
}
@media (max-width: 400px) {
    .footer-top {
        .footer-connections {
            .footer-connections__title {
                text-align: center;
            }
            .footer-socials {
                width: 100%;
                padding: 0 10px;
                font-size: 12px;

                .footer-socials__item {
                    width: 40px;
                    height: 40px;
                }
            }
            .footer-subscribe {
                height: 80px;
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: none;

                .footer-subscribe__input {
                    display: block;
                    width: 100%;
                    margin: 0 10px;
                    border: thin solid #484848;
                    text-align: center;
                    padding: 0;
                }
            }
        }
    }
}

.footer-bottom {
    position: relative;
    background-color: var(--color-footer-bg);
    min-height: 206px;
    .footer-bottom__triangle {
        position: absolute;
        color: var(--color-footer-darkgrey);
        font-size: 11px;
        left: calc(50% - 10px);
        top: -12px;
    }
    .footer-copyright {
        display: block;
        border-top: 1px solid var(--color-footer-darkgrey);
        padding: 27px 0;
        font-family: Lato,sans-serif;
        font-size: 11px;
        line-height: 1.64;
        color: var(--color-footer-darkgrey);

        .footer-copyright__link {

            &:hover {
                 color: #55ACEE;
            }
        }
    }
    .footer-cards {
        display: flex;
        justify-content: space-between;
        width: 170px;
        font-size: 20px;
        color: var(--color-footer-darkgrey);

        .footer-cards__item {
            position: relative;
            width: 22px;
            height: 16px;
            border-width: 0;
            border-radius: 3px;
            background-color: #bbbbbb;

            &>svg {
                position: absolute;
                top: -2px;
            }
        }
    }
}

@media (max-width: 1290px) {
    .footer-bottom {

        .footer-copyright {
            text-align: center;
        }
        .footer-cards {
            margin: auto;
        }
    }
}

.subfooter {
    position: relative;
    background-color: black;
    height: 44px;
}

.carousel::after,
.sale::after,
.header-top::after,
.sale::after,
.customers::after,
.footer-top::after,
.footer-bottom::after,
.subfooter::after {
    content: "";
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
