:root {
    --color-primary: #D9BF8F;
    --color-secondary: #EAEAEA;
    --color-accent: #FEAB12;
    --color-button: #F0975C;
    --color-header-bg: #F2F2F2;
    --color-topmenu-text: #393939;
    --color-footer-bg: #141414;
    --color-footer-grey: #737373;
    --color-footer-darkgrey: #363636;
}

